.header-top {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Noto Sans', sans-serif;
  &:before {
    content: '';
    width: 100vw;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    border-bottom: 1px solid rgb(207, 207, 207);
  }
  @media (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  nav {
    font-size: 14px;
    @media (min-width: 992px) {
      font-size: 20px;
    }

    a {
      font-weight: 700;
      color: #000;
      cursor: pointer;

      &:hover,
      &:focus {
        text-decoration: none;
        color: rgba(#000, .6);
      }

      &.active {
        color: #007bff;
      }
    }
    
    a:not(:last-child) {
      padding-right: 10px;
      @media (min-width: 992px) {
        padding-right: 20px;
      }  
    }

    a.home-link {
      margin-right: auto;
    }
  }
}
