body, #root {
  min-height: 100vh;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}

.home-page {
  flex-grow: 1;
  align-items: center;
}

.base-section {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: 992px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.active {
  color: green;
}
